.about-container {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-about {
  background-color: #000000;
  color: #ffffff;
}
.light-about {
  background-color: #ffffff;
  color: #000000;
}
.about {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 700;
}
.about-image {
  width: 40%;
}
